<% if @entry.errors.any? %>
  <div class='error_message'>
    <ul>
      <% @entry.errors.full_messages.each do | message | %>
        <p><%= message %></p>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for [ @book, @entry ] do | form | %>
  <%= content_tag :p, title %>
  <%= form.text_field :title, placeholder: 'Title', required: true %>
  <%= form.number_field :year, placeholder: 'Year' %>
  <%= form.number_field :month, placeholder: 'Month' %>
  <%= form.number_field :day, placeholder: 'Day'   %>
  <%= form.text_area :contents %>
  <fieldset>
    <legend>Categories</legend>
    <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name ) %>
  </fieldset>
  <%= form.submit %>
<% end %>
