<h1>All the entries</h1>
<table>
  <th>Title</th>
  <th>Date</th>
  <th>Book</th>
  <%= content_tag( :th, 'Options' ) if current_admin %>
  <% @entries.each do | entry | %>
    <tr>
      <td><%= link_to entry.title, entry_path( entry ) %></td>
      <td><%= entry.date  %></td>
      <td><%= link_to entry.book.title, book_path( entry ) %></td>
      <%= content_tag( :td, edit_destroy_links( entry ) ) if current_admin %>
    </tr>
  <% end %>
</table>
<%= link_to( 'Create Entry', new_book_entry_path( @book ) ) if @book && current_admin %>
