<%= content_tag :h1, @entry.title %>
<%= content_tag :h2, @entry.date %>
<%= content_tag :div, sanitize( @entry.contents ) %>

<ul>
  <% @entry.categories.each do | category | %>
    <li><%= link_to category.name, category_path( category ) %></li>
  <% end %>
</ul>

<%= link_to @entry.book.title, book_path( @entry.book ) %>
<%= link_to 'Entries', entries_path %>
<%= edit_destroy_links( @entry ) %>
