<%= link_list(
      "Back to #{@entry.book.title}" => { url: book_path( @entry.book ) },
      "All Entries" => { url: entries_path }
)%>

<div class='entry'>
  <%= content_tag :h1, @entry.title %>
  <%= content_tag :h3, @entry.date %>
  <%= content_tag :div, sanitize( @entry.contents ), class: @category_class %>
</div>


<div class='entry_categories'>
  <h3>Categories</h3>
  <ul>
    <% @categories.each do | category | %>
      <li><%= link_to category.name, category_path( category ) %></li>
    <% end %>
  </ul>
</div>

<%= edit_destroy_links( @entry ) %>
