<div class='entry'>
  <section class='title'>
    <%= content_tag :aside, @entry.title %>
    <%= content_tag :article, @entry.date %>
  </section>
  <%= content_tag :div, sanitize( @entry.contents ), class: @category_class %>
</div>

<ul>
  <li><%= link_to "Back to #{@entry.book.title}", book_path( @entry.book ) %></li>
  <% @categories.each do | category | %>
    <li><%= link_to "Other #{ pluralize( 2, category.name ).split()[1..-1].join(' ') }", category_path( category ) %></li>
  <% end %>
  <li><%= link_to "All Entries", entries_path %></li>
</ul>


<%= edit_destroy_links( @entry ) %>
