<% if book.errors.any? %>
  <div class='error_message'>
    <ul>
      <% @book.errors.full_messages.each do | message | %>
        <p><%= message %></p>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for book do | form | %>
  <%= content_tag :p, title %>
  <%= form.text_field :title, { placeholder: 'Title', required: true, class: 'center' } %>
  <%= form.text_area :about, placeholder: 'Tell me about the book', required: true %>
  <%= form.submit %>
<% end %>
