<h1>All the books</h1>
<table>
  <th>Title</th>
  <th>About</th>
  <th>Options</th>
  <% @books.each do | book | %>
    <tr>
      <td><%= link_to book.title, book_path( book ) %></td>
      <td><%= sanitize( book.about )  %></td>
      <td><%= link_to 'Edit', edit_book_path( book ) %><br>
          <%= link_to 'Destroy', book_path( book ), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to 'Create Book', new_book_path %>
